#nav-panel li.home-menu-item a{
	background-color: #e67e00 !important;
	color: #fff3e5;
	text-shadow: 1px 1px #000000;
}

#nav-panel{
	/*background-color: transparent;*/
}

.ui-popup-screen{
    opacity: 0.9;
    background-color: black;
}

.ui-popup{
    background: white;
}

.thumbnail-wrapper{
	float:left;
	position: relative;
	height: 80px;
	width: 80px;
	overflow: hidden;
	margin-left: -16px;
	margin-top: -11px;
	margin-bottom: -12px;
	margin-right: 1em;
	padding: 0px;
	
}

#ten-breaths-start{
	width: 80% !important;
	height: 122px !important;
	border-radius: 20px !important;
	margin-left: auto;
	margin-right: auto;
	background-color: #e67e00;
	color: #fff3e5;
	text-shadow: 1px 1px #000000;
	box-shadow: 3px 3px 10px #333333;
	font-size: 20px;
	line-height: 90px;
	
}

#ten-breaths-photo-display img{
	width: 100%;
}

#ten-breaths-text{
    height: 100px !important;
}


/* red icon #c20000 */
#ten-breaths-save:after {
  background-color: #1ac200;
}
#ten-breaths-clear:after {
  background-color: #4da6ff;
}

/* photo & hidden button  and states */
#ten-breaths-hidden:after,
#ten-breaths-photo:after {
  background-color: #1ac200;
}

#ten-breaths-hidden.sy-alert:after,
#ten-breaths-photo.sy-alert:after{
  background-color: #c20000;
}

#ten-breaths-hidden.sy-alert span.sy-prefers-public,
#ten-breaths-photo.sy-alert span.sy-no-photo{
	display:none;
}

#ten-breaths-hidden.sy-alert span.sy-prefers-hidden,
#ten-breaths-photo.sy-alert span.sy-has-photo{
	display:inline;
}

#ten-breaths-hidden span.sy-prefers-public,
#ten-breaths-photo span.sy-no-photo{
	display:inline;
}

#ten-breaths-hidden span.sy-prefers-hidden,
#ten-breaths-photo span.sy-has-photo{
	display:none;
}

#about img{
    width: 100%;
    max-width: 450px;
    border-radius: 3px;
}

#rbge-logo{
    border: solid 1px #375d48;
}

#ell-logo{
    border: solid 1px #9cd354;
}