#nav-panel li.home-menu-item a{
	background-color: #e67e00 !important;
	color: #fff3e5;
	text-shadow: 1px 1px #000000;
}

#nav-panel{
	/*background-color: transparent;*/
}

.ui-popup-screen{
    opacity: 0.9;
    background-color: black;
}

.ui-popup{
    background: white;
}

.thumbnail-wrapper{
	float:left;
	position: relative;
	height: 80px;
	width: 80px;
	overflow: hidden;
	margin-left: -16px;
	margin-top: -11px;
	margin-bottom: -12px;
	margin-right: 1em;
	padding: 0px;
	
}

#ten-breaths-start{
	width: 80% !important;
	height: 122px !important;
	border-radius: 20px !important;
	margin-left: auto;
	margin-right: auto;
	background-color: #e67e00;
	color: #fff3e5;
	text-shadow: 1px 1px #000000;
	box-shadow: 3px 3px 10px #333333;
	font-size: 20px;
	line-height: 90px;
	
}

